<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(`../partials/head.ejs`)%>
</head>
<body>
  <%- include(`../partials/header.ejs`)%>
  <main class="container">
    <h2>Characters</h2>
    <ul><% for(let i=0;i<chara.length;i++){ %>
      <li><a href="/characters/<%=chara[i]._id%>"><%=chara[i].name%></a>
        <p>
          <a href="/characters/<%=chara[i]._id%>/edit"><button>Edit</button></a>
          <form class="deleteBtn" action="/characters/<%=chara[i]._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        </p></li><% } %>
    </ul>
    <p><a href="/characters/new"><button>Add New Character</button></a></p>
    <h2>Domains</h2>

    <h2>Materials</h2>

    <h2>Enemies</h2>
  </main>
  <%- include(`../partials/footer.ejs`)%>
</body>
</html>