<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(`../../partials/head.ejs`)%>
</head>
<body>
  <%- include(`../../partials/header.ejs`)%>
  <main class="container my-4">
    <h2 class="text-center dataTitle">Characters</h2>
    <div class="row justify-content-center text-center"><% for(let i=0;i<chara.length;i++){ %>
      <div class="col"><a href="/characters/<%=chara[i]._id%>">
        <figure class="figure charaFigure">
          <img src="<%=chara[i].image%>" class="figure-img img-fluid rounded" style="max-width: 150px;">
          <figcaption class="text-center"><strong><%=chara[i].name%></strong></figcaption>
        </figure></a>
        <% if(userDetails) {%>
        <div><a href="/characters/<%=chara[i]._id%>/edit"><button class="btn btn-outline-primary">Edit</button></a>
          <form class="form-inline" action="/characters/<%=chara[i]._id%>?_method=DELETE" method="POST">
          <button class="btn btn-outline-primary">Delete</button>
          </form></div> <% } %>
      </div><% } %>
    </div>
    <% if(userDetails) { %><br><p><a href="/characters/new"><button class="btn btn-primary">Add New Character</button></a></p><% } %>
  </main>
  <%- include(`../../partials/footer.ejs`)%>
</body>
</html>