<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(`../../partials/head.ejs`)%>
</head>
<body>
  <%- include(`../../partials/header.ejs`)%>
  <main class="container my-4">
    <h1>Add new character</h1>
    <form action="/characters" method="POST">
      <p>Name: <input type="text" name="name" placeholder="Character Name" required></p>
      <p>Element: <select name="element" required>
        <option value="Pyro">Pyro</option>
        <option value="Hydro">Hydro</option>
        <option value="Electro">Electro</option>
        <option value="Dendro">Dendro</option>
        <option value="Anemo">Anemo</option>
        <option value="Geo">Geo</option>
        <option value="Cryo">Cryo</option>
      </select>
      </p>
      <p>Image URL: <input type="text" name="image" placeholder="Should be 256x256 px"></p>
      <p>Talents:</p><% let maxTalent = 3;for(let i=0;i<maxTalent;i++){ %>
      <ol>
        <ul>
          <li><input type="text" name="talents[<%=i%>][talentName]" placeholder="Talent Name"> <button>Delete Talent</button><br>
          <textarea name="talents[<%=i%>][talentDesc]" placeholder="Talent Description" cols="50"></textarea></li>
        </ul>
      </ol><% } %>
      <p><button>Add new Talent</button></p>
      <h3>Resources Needed to reach Max Level:</h3>
      <p>Total Mora: <input type="number" name="maxLevelRequirement[mora]" placeholder="Amount of mora(money) needed"></p>
      <% let maxMat = 9;for(let i=0;i<maxMat;i++){ %>
      <ul>
        <li>Material needed: <input type="text" name="maxLevelRequirement.materials[<%=i%>][name]"> <button>Delete Material</button></li>
        <li>Material amount: <input type="number" name="maxLevelRequirement.materials[<%=i%>][amount]" cols="20"></li>
      </ul>
      <% } %>
      <p><button>Add new Material</button></p>
      <p><input type="submit" class="btn btn-outline-primary" value="Add New Character"></p>
    </form>
    <p><a href="/characters" class="btn btn-primary">Return to Character Index</a></p>
    <p><a href="/" class="btn btn-primary">Return to ALL Index</a></p>
  </main>
  <%- include(`../../partials/footer.ejs`)%>
</body>
</html>