<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(`../../partials/head.ejs`)%>
</head>
<body>
  <%- include(`../../partials/header.ejs`)%>
  <main class="container">
  <img src="<%=chara.image%>"></image>
  <h1><%=chara.name%></h1>
  <h3>Element</h3>
  <p><%=chara.element%></p>
  <h3>Talents</h3>
  <ul>
  <% for(let i=0;i<chara.talents.length;i++){ %>
    <li>
      <p><strong><%=chara.talents[i].talentName%></strong></p>
      <p><%=chara.talents[i].talentDesc%></p>
    </li>
  <% } %>
  </ul>

  <h3>Mora and Materials needed to Level Up to Max</h3>
  <ul>
    <li>Mora: <%=chara.maxLevelRequirement.mora%></li>
  <% for(let i=0;i<chara.maxLevelRequirement.materials.length;i++){ %>
    <li><%=chara.maxLevelRequirement.materials[i].name%> x <%=chara.maxLevelRequirement.materials[i].amount%></li>
  <% } %>
  </ul>
  
  <p><a href="/"><button>Return to Index</button></a></p>
  </main>
  <%- include(`../../partials/footer.ejs`)%>
</body>
</html>