<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(`../../partials/head.ejs`)%>
</head>
<body>
  <%- include(`../../partials/header.ejs`)%>
  <main class="container my-4">
  <div class="text-center">
    <img src="<%=chara.image%>"></image>
    <h1 class="dataTitle"><%=chara.name%></h1>
  </div>
  <h3>Element: <span <% if(chara.element==="Pyro") { %>style="color:red;"
    <% } else if(chara.element==="Hydro"){ %>style="color:teal;"
    <% } else if(chara.element==="Electro"){%>style="color:blueviolet;"
    <% } else if(chara.element==="Dendro"){%>style="greenyellow:;"
    <% } else if(chara.element==="Anemo"){%>style="color:aquamarine;"
    <% } else if(chara.element==="Geo"){%>style="color:gold;"
    <% } else if(chara.element==="Cryo"){%>style="color:blue;"<% } %>
  ><strong><%=chara.element%></strong></span></h3>
  <h2>Talents</h2>
  <ul>
  <% for(let i=0;i<chara.talents.length;i++){ %>
    <li>
      <p><strong><%=chara.talents[i].talentName%></strong></p>
      <p><%=chara.talents[i].talentDesc%></p>
    </li>
  <% } %>
  </ul>

  <h3>Mora and Materials needed to Level Up to Max</h3>
  <ul>
    <li>Mora: <%=chara.maxLevelRequirement.mora%></li>
  <% for(let i=0;i<chara.maxLevelRequirement.materials.length;i++){ %>
    <li>
      <%
      for(let j=0;j<mat.length;j++) {
        if(mat[j].name==chara.maxLevelRequirement.materials[i].name){
      %><a href="/materials/<%=mat[j].id%>">
      <% }
      }
      %>
      <%=chara.maxLevelRequirement.materials[i].name%>
      <%
      for(let j=0;j<mat.length;j++) {
        if(mat[j].name==chara.maxLevelRequirement.materials[i].name){
      %></a>
      <% }
      }
      %>
      
       x <%=chara.maxLevelRequirement.materials[i].amount%></li>
  <% } %>
  </ul>
  <% if(userDetails){ %>
  <div>
    <a href="/characters/<%=chara._id%>/edit"><button class="btn btn-outline-primary">Edit</button></a>
    <form class="form-inline" action="/characters/<%=chara._id%>?_method=DELETE" method="POST">
    <button class="btn btn-outline-primary">Delete</button>
    </form>
  </div>
  <% } %>
  <br>
  <p><a href="/characters" class="btn btn-primary">Return to Character Index</a></p>
  <p><a href="/" class="btn btn-primary">Return to ALL Index</a></p>
  </main>
  <%- include(`../../partials/footer.ejs`)%>
</body>
</html>